@font-face {
  font-family:Accidental Presidency;
  src:local('Accidental Presidency'),url(acid.woff2) format('woff2'),url(acid.woff) format('woff'),url(acid.ttf) format('truetype')
}

body{
  background:#191919;
}

h1 {
  font-family: 'Reem Kufi', sans-serif;
  line-height: 95%;
  font-size: 100px;
  text-align: center
}

h2 {
  font-family: 'Reem Kufi', sans-serif;
  line-height: 95%;
  font-size: 80px;
  text-align: center
}

p {
  text-align: center;
  text-shadow: 0 0 2px #000;
  font-size: 30px;
}

.imagen {
  width: 100px;
  height: 100px;
  margin-left: 130px
}

.step {
  background-color: #FFFF33
}

#imagendos {
  width: 10px;
  height: 10px;
  background-image: url("img/imagen2.jpg");
  margin-left: 130px
}
